@if (employee$(); as employee) {
  <button routerLink="/employees">Volver</button>
  <div class="employee-info">
    <h3>Información Personal</h3>
    <p><strong>RUT:</strong> {{ employee.run }}</p>
    <p><strong>Nombre:</strong> {{ employee.first_name }}</p>
    <p><strong>Apellido:</strong> {{ employee.last_name }}</p>
    <p><strong>Email:</strong> {{ employee.email }}</p>
    <p><strong>Teléfono:</strong> {{ employee.phone }}</p>
    <p><strong>Fecha de Nacimiento:</strong> {{ employee.birth_date | date: 'dd-MM-yyyy' }}</p>
  </div>

  <div class="employee-details">
    <h3>Detalles del Empleo</h3>
    <p><strong>Posición:</strong> {{ employee.employeeDetails[0].position }}</p>
    <p><strong>Departamento:</strong> {{ employee.employeeDetails[0].department }}</p>
    <p><strong>Salario:</strong> {{ employee.employeeDetails[0].salary | currency }}</p>
    <p><strong>Fecha de Contratación:</strong> {{ employee.employeeDetails[0].hire_date | date: 'dd-MM-yyyy' }}</p>
    <p><strong>Tipo de Contrato:</strong> {{ employee.employeeDetails[0].contract_type }}</p>
    <p><strong>Número de Contrato:</strong> {{ employee.employeeDetails[0].contract_number }}</p>
  </div>

  <div class="employee-address">
    <h3>Dirección</h3>
    <p><strong>Calle:</strong> {{ employee.addresses[0].street }}</p>
    <p><strong>Código Postal:</strong> {{ employee.addresses[0].zip_code }}</p>
    <p><strong>Comuna:</strong> {{ employee.addresses[0].commune.name }}</p>
  </div>
} @else {
  <button routerLink="employees">Volver</button>
  <p class="text-danger">No se encontró el empleado</p>
}
