@if (display) {
  <form [formGroup]="addressForm" class="form">
    <div nz-row>
      <div nz-col [nzSpan]="2">
        <nz-form-label for="street" nzRequired>Calle:</nz-form-label>
      </div>
      <div nz-col [nzSpan]="9">
        <nz-form-control nzErrorTip="Por favor, introduce la dirección" [nzValidateStatus]="addressForm.controls['street'].status">
          <input type="text" id="street" formControlName="street" class="form-control" />
        </nz-form-control>
      </div>
      <div nz-col [nzSpan]="1"></div>
      <div nz-col [nzSpan]="3">
        <label for="zip_code">Código Postal:</label>
      </div>
      <div nz-col [nzSpan]="5">
        <input type="text" id="zip_code" formControlName="zip_code" class="form-control" />
      </div>
    </div>

    <div nz-row>
      <div nz-col [nzSpan]="10">
        <app-select-field
          [options$]="countries$"
          label="País"
          id="country"
          controlName="country"
          placeholder="Seleccione un país"
          (selectChange)="onCountryChange($event)"
        ></app-select-field>
      </div>
      <div nz-col [nzSpan]="1"></div>
      <div nz-col [nzSpan]="10">
        <app-select-field
          [options$]="filteredRegions$"
          [disabled]="disabledRegion"
          label="Región"
          id="region"
          controlName="region"
          [placeholder]="placeholderRegion"
          (selectChange)="onRegionChange($event)"
        ></app-select-field>
      </div>
    </div>
    <div nz-row>
      <div nz-col [nzSpan]="10">
        <app-select-field
          [options$]="filteredCities$"
          [disabled]="disabledCity"
          label="Ciudad"
          id="city"
          controlName="city"
          [placeholder]="placeholderCity"
          (selectChange)="onCityChange($event)"
        ></app-select-field>
      </div>
    </div>
    <div nz-row>
      <div nz-col [nzSpan]="10">
        <app-select-field
          [options$]="filteredCommunes$"
          [disabled]="disabledCommune"
          label="Comuna"
          id="commune"
          controlName="commune"
          [placeholder]="placeholderCommune"
          (selectChange)="onCommuneChange($event)"
        ></app-select-field>
      </div>
    </div>

    <div nz-row>
      <div nz-col [nzSpan]="10">
        <button class="btn-back" type="button" (click)="onCancel()">Cancelar</button>
        <button type="button" (click)="onSubmit()">Agregar Dirección</button>
      </div>
    </div>
  </form>
}
