[nz-row] {
  align-items: center;
  margin-bottom: 20px;
}

.addresses-table {
  width: 100%;
}

.column-number {
  width: 5%;
}

.column-street {
  width: auto;
}

.column-zip {
  width: 15%;
}

.column-commune {
  width: 20%;
}
