<div class="text-end">
  <button class="btn btn-primary" [routerLink]="['/products', 'new']"><mat-icon>add</mat-icon><span>Nuevo Producto</span></button>
</div>

<table class="table table-striped table-bordered">
  <thead>
    <tr class="table-info">
      <th>Imagen</th>
      <th>SKU</th>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Precio</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    @for (product of products$(); track product.id) {
      <tr [ngClass]="{ 'table-danger': !product.is_active }">
        <td>
          <img class="product-img" *ngIf="product.images.length > 0; else defaultImage" [src]="product.images[0].url" [alt]="product.name" />
          <ng-template #defaultImage> <span class="no-img">Sin Imagen</span><mat-icon class="no-img-icon">no_photography</mat-icon> </ng-template>
        </td>
        <td>{{ product.sku }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.price | currency }}</td>
        <td>
          <button class="btn-primary" [routerLink]="['/product', product.id, 'view']">
            <mat-icon>visibility</mat-icon>
          </button>
          <button class="btn-warning" [routerLink]="['/product', product.id, 'edit']">
            <mat-icon>edit</mat-icon>
          </button>
          <button class="btn-danger" (click)="deleteProduct(product)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    } @empty {
      <tr>
        <td colspan="5" class="text-center">No hay productos</td>
      </tr>
    }
  </tbody>
</table>
