<div class="toogle-aside">
  <button (click)="toggleAside()">
    <i nz-icon [nzType]="openedAside ? 'double-left' : 'double-right'" nzTheme="outline"></i>
  </button>
</div>
<div class="profile-container">
  <div class="profile text-center">
    <img class="profile-img" src="/images/profiles/profile.png" alt="profile" />
    <div class="profile-text">{{ account!.first_name }} {{ account!.last_name }}</div>
    <small>{{ account!.roles[0].description }}</small>
    <button class="logout" (click)="logout()">
      <span class="txt-logout"><i class="logout-icon" nz-icon nzType="logout" nzTheme="outline"></i>Cerrar Sesión</span>
    </button>
  </div>
</div>
<div class="sidebar">
  <ul class="sidebar-menu">
    <li class="sidebar-item">
      <a routerLink="/home" class="sidebar-link" routerLinkActive="active">
        <span class="sidebar-text">Inicio</span>
      </a>
    </li>
    <li class="sidebar-item">
      <a class="sidebar-link" routerLink="/sales" routerLinkActive="active">
        <span class="sidebar-text">Ventas</span>
      </a>
      <ul class="sidebar-submenu">
        <li class="sidebar-item">
          <a routerLink="/sales/clients" class="sidebar-link" routerLinkActive="active">
            <span class="sidebar-text">Clientes</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a routerLink="/sales/invoices" class="sidebar-link" routerLinkActive="active">
            <span class="sidebar-text">Facturas</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a routerLink="/sales/receipts/new" class="sidebar-link" routerLinkActive="active">
            <span class="sidebar-text">Boletas</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a routerLink="/sales/guides" class="sidebar-link" routerLinkActive="active">
            <span class="sidebar-text">Guias de Despacho</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a routerLink="/sales/catalog" class="sidebar-link" routerLinkActive="active">
            <span class="sidebar-text">Catálogo</span>
          </a>
        </li>
      </ul>
    </li>

    <li class="sidebar-item">
      <a routerLink="/purchases" class="sidebar-link" routerLinkActive="active">
        <span class="sidebar-text">Compras</span>
      </a>
      <ul class="sidebar-submenu">
        <li class="sidebar-item">
          <a routerLink="/purchases/orders" class="sidebar-link" routerLinkActive="active">
            <span class="sidebar-text">Pedidos</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a routerLink="/purchases/suppliers" class="sidebar-link" routerLinkActive="active">
            <span class="sidebar-text">Proveedores</span>
          </a>
        </li>
      </ul>
    </li>

    <li class="sidebar-item">
      <a routerLink="/productions" class="sidebar-link" routerLinkActive="active">
        <span class="sidebar-text">Producción</span>
      </a>
      <ul class="sidebar-submenu">
        <li class="sidebar-item">
          <a routerLink="/productions/products" class="sidebar-link" routerLinkActive="active">
            <span class="sidebar-text">Productos</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a routerLink="/productions/categories" class="sidebar-link" routerLinkActive="active">
            <span class="sidebar-text">Categorías</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a routerLink="/productions/inventories" class="sidebar-link" routerLinkActive="active">
            <span class="sidebar-text">Inventarios</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a routerLink="/productions/processes" class="sidebar-link" routerLinkActive="active">
            <span class="sidebar-text">Procesos</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a routerLink="/productions/transformations" class="sidebar-link" routerLinkActive="active">
            <span class="sidebar-text">Transformaciones</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a routerLink="/productions/warehouses" class="sidebar-link" routerLinkActive="active">
            <span class="sidebar-text">Bodegas</span>
          </a>
        </li>
      </ul>
    </li>

    <li class="sidebar-item">
      <a routerLink="/logistics" class="sidebar-link" routerLinkActive="active">
        <span class="sidebar-text">Logística</span>
      </a>
      <ul class="sidebar-submenu">
        <li class="sidebar-item">
          <a routerLink="/logistics/vehicles" class="sidebar-link" routerLinkActive="active">
            <span class="sidebar-text">Vehículos</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a routerLink="/logistics/maintenance" class="sidebar-link" routerLinkActive="active">
            <span class="sidebar-text">Mantenciones</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a routerLink="/logistics/deliveries" class="sidebar-link" routerLinkActive="active">
            <span class="sidebar-text">Despachos</span>
          </a>
        </li>
      </ul>
    </li>

    <li class="sidebar-item">
      <a routerLink="/staffs" class="sidebar-link" routerLinkActive="active">
        <span class="sidebar-text">Personal</span>
      </a>
      <ul class="sidebar-submenu">
        <li class="sidebar-item">
          <a routerLink="staffs/employees" class="sidebar-link" routerLinkActive="active">
            <span class="sidebar-text">Empleados</span>
          </a>
        </li>
      </ul>
    </li>

    <li class="sidebar-item">
      <a routerLink="/tools" class="sidebar-link" routerLinkActive="active" (click)="preventNavigation($event)">
        <span class="sidebar-text">Herramientas</span>
      </a>
      <ul class="sidebar-submenu">
        <li class="sidebar-item">
          <a routerLink="/tools/reports" class="sidebar-link" routerLinkActive="active">
            <span class="sidebar-text">Informes</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a routerLink="/tools/backups" class="sidebar-link" routerLinkActive="active">
            <span class="sidebar-text">Respaldos</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a routerLink="/auditory" class="sidebar-link" routerLinkActive="active">
            <span class="sidebar-text">Auditoria</span>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>
