// Variables
$bg-header: hsl(215, 70%, 30%);
$txt-primary: hsl(0, 0%, 100%);
$txt-secondary: hsl(0, 0%, 0%);
$txt-green: hsl(70, 90%, 45%);
$btn-green: hsl(145, 75%, 44%);
$btn-green-hover: hsl(52, 75%, 34%);
$input-icon-color: hsl(0, 0%, 31%);
$txt-input: hsl(0, 0%, 31%);
$txt-hover: hsl(35, 100%, 63%);
$bg-light-green: hsl(70, 90%, 95%);
$bg-light: hsl(0, 0%, 100%);
