<div class="welcome-container">
  <div class="welcome-content">
    <div class="card">
      <h2>Gestión de Ventas</h2>
      <p>Supervise las ventas y pedidos de los clientes.</p>
      <button routerLink="/sales-management">Ir a Ventas</button>
    </div>
    <div class="card">
      <h2>Gestión de Compras</h2>
      <p>Administre las compras de los productos y proveedores.</p>
      <button routerLink="/purchases-management" class="btn">Ir a Compras</button>
    </div>
    <div class="card">
      <h2>Gestión de Producción</h2>
      <p>Controle los procesos de producción y empaquetado.</p>
      <button routerLink="/production-management" class="btn">Ir a Producción</button>
    </div>
    <div class="card">
      <h2>Gestión de Logistica</h2>
      <p>Administre la logistica de los productos y entregas.</p>
      <button routerLink="/logistics-management" class="btn">Ir a Logistica</button>
    </div>
    <div class="card">
      <h2>Gestión de personal</h2>
      <p>Administre el personal y asigne las tareas del personal.</p>
      <button routerLink="/staff-management" class="btn">Ir a Personal</button>
    </div>
    <div class="card">
      <h2>Informes</h2>
      <p>Visualice los reportes de las diferentes areas de la empresa.</p>
      <button routerLink="/reports" class="btn">Ir a Reportes</button>
    </div>
  </div>
</div>
